 <div ng-controller="graphDBController">
 	<div id="container" class="ng-cloak" style="width:100%; height:500px;">
	  <h4>Graphical DashBoard</h4>
	  	<table class="table table-hover" style="margin:0.3em; width:100%; height:100%;">
			<tbody>
				<tr style="margin:0.3em; width:100%; height:100%; cellPadding:2px;">
					<td style="width:45%;">
						<div id="container1" class="border-radius"></div>
					</td>
					<td style="width:45%;">
						<div id="container2" class="border-radius"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div> 
</div>
